---
layout: default
page-title: Ketch Partners
page-description: Ketch Partners SAP HANA S4 Greenfield Implementation
canonical: https://ketch.partners/articles/sap-greenfield-implementation/
robots: index,follow
rating:
og-title: Overview of SAP HANA S4 Greenfiled Implementation
og-type: article
og-url: https://ketch.partners/articles/sap-greenfield-implementation/
og-image: https://ketch.partners/assets/img/articles/greenfield-business-sap-800x350.jpg
og-description: Ketch Partners client use case of SAP HANA S4 implementation.
og-sitename: Ketch Partners
fb-id:
twitter-summary: Ketch Partners client use case of SAP HANA S4 greenfield implementation.
twitter-handle:
twitter-title: Overview of SAP HANA S4 Greenfield Implementation.
twitter-description: Ketch Partners client use case overview of SAP HANA S4 greenfield implementation.
twitter-author: chris_r_york
twitter-image: https://ketch.partners/assets/img/articles/greenfield-business-sap-300x300.jpg
datePublished: 2018-12-26
dateModified: 2018-12-26
datePublishedDisplay: 26 December 2018
---

<div class="grid-container article-post-page"  id="newsletter-sticky">
<div class="grid-x grid-margin-x">
  <div class="cell large-9">

<article class="simple-article-header" itemscope itemtype="http://schema.org/Article">

    <p class="article-date-read"><time itemprop="datePublished" datetime="{{datePublished}}">{{datePublishedDisplay}}</time> - 5 min read</p>
  <meta itemprop="dateModified" content="{{dateModified}}" />
  <div class="hide" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
  <p itemprop="name" class="hide">Ketch Partners<p>
  <a href="{{root}}index.html" itemprop="url"><strong><img src="../assets/img/logo-top-bar.png" width="100px" alt="logo" itemprop="logo" /></strong></a>
  </div>
  
  <!-- Article Title -->
  <h1 class="article-title" itemprop="headline">
    <a href="{{canonical}}" itemprop="mainEntityOfPage">
      Execute Greenfield Implementations That Bridge Multiple ERPs
    </a>
  </h1>

  <!-- Article Author Name & Comment Hyperlink -->
  <div itemprop="author" itemscope itemtype="http://schema.org/Person">
  <p class="article-author-comments" itemprop="name">
    <em>by <a href="#about-author">Chris York</a></em> </p>
  </div>

  <!-- Article Social Links -->
<!--  <div class="article-social">
    <a href="#" class="button social facebook">
      <i class="fab fa-facebook fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social twitter">
      <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social linkedin">
      <i class="fab fa-linkedin fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social google-plus">
      <i class="fab fa-google-plus fa-lg" aria-hidden="true"></i>
    </a>
  </div>-->

  <!-- Article Image -->
  <div class="article-post-image">
    <div class="thumbnail">
      <img class="article-image" src="{{root}}assets/img/articles/greenfield-business-sap-800x350.jpg" alt="SAP Greenfield Implementation" itemprop="image" />
    </div>
  </div>

  <!-- Article Post Content -->
  <div class="article-post-content" itemprop="articleBody">
{{#markdown}} 


## CHALLENGE - HIGHLY CUSTOMIZED SAP SYSTEM

Our hi-tech industry client had been running a highly customized SAP ECC for over 17 years.  During that time developed an aggressive acquisition strategy averaging 5 companies per year.  The acquisitions were primarily in the IT services space.  The client was acquiring many new business models supported by various ERP systems. They struggled to integrate the acquired companies into their existing SAP ECC system. This situation was further complicated by the fact that they could not risk disruption to their core business.

## INSIGHT - A NEW PLATFORM WAS NEEDED

Our client recognized that they were operating in a constantly changing marketplace. They knew they needed a completely new platform.  It required business processes to achieve their vision for the company.   Else they risked being unable to adapt to opportunities in the marketplace.

## SOLUTION - ROADMAP DEFINED AND EXECUTED

The company engaged Ketch to implement a greenfield SAP S/4HANA solution.   The mandate was to focus on best practice processes with minimal enhancements. This would allow the design and delivery of a flexible, scalable platform.  This is capable of absorbing many different business models as they grow.  Leveraging SAP Central Finance solution, we were able to choose the speed which the core business migrated from ECC to S/4HANA.  This reduced risk and spread the cost of the project over several fiscal years.  This approach supported justification of the capital expenditure. Ketch worked with our client to develop a 4-year roadmap for migrating their entire business to the new platform.  The major deployments were as follows:

1. *SAP HANA* S4 for master data governance of customers, materials and vendors.  This data synchronized with the ECC system. Additionally, CPQ (Configurable pricing and quoting) for legacy contracts in ECC.
2. *SAP HANA* S4, SAP Central Finance and a 3rd-party field service solution.   All inventory and fulfillment remained in the ECC system.
3. *SAP HANA* S4 for the entire business migrating all contracts to new offerings.  Moving all warehousing and logistics functions from ECC to S/4HANA.  EWM (Extended Warehouse Management) for all inventory management and fulfillment. (Central Finance would remain to allow quick integration of future acquisitions into S/4HANA Simple Finance.)

Once the roadmap was defined, we collaboratively scoped and planned each phase. We jointly developed plans to deploy the resources required to support each phase. During the first phase, we leveraged Ketch’s Best Practice Alignment to deploy a live S/4HANA system.  We designed a flexible business platform that could support any acquisition scenario.  This allowed us to prove the solution and determine gaps.  This approach allowed client to visualize a system un-constrained by 17 years of custom enhancements.  They could truly think creatively about the best design for the new system.
We then designed the new enterprise structure for finance, sales and logistics.  Utilizing Central Finance and Central Payments we aligned the ECC structure to the new S/4HANA structure.  We utilized enhanced mapping capabilities developed by Ketch.  Once complete, all finance and payment transactions from ECC flowed directly into *SAP HANA* S4.  The client finance team then operated completely in S/4HANA.   while the core business operations were still being executed in the ECC system.

## GOING FORWARD

As future acquisitions are made, the client can not only deploy new connectors based on the specific legacy system in place, mapping the organizational structure but also have all of the new financials flowing through to S/4HANA.
The result is a flexible, scalable business platform that will continuously adapt to an ever-changing market — yielding a stronger ability to make aggressive acquisitions as well as easier integration of new offerings. Furthermore, it will allow our client to determine their timeline to move to newer applications when the business case is deemed suitable.






{{/markdown}}
  </div>
</article>

<div class="callout about-author">
{{> about-author-york}}
</div>

<div class="callout comments">
  <div id="disqus_thread"></div>
    <script>

      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

      var disqus_config = function () {
      this.page.url = 'https://openketch1.firebaseapp.com/articles/sap-greenfield-implementation/';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '2018-12-26-03'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://ketch-partners.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
 </div>


  </div>
  <div class="cell large-3" data-sticky-container>

{{> newsletter-subscribe}}



  </div>

</div>
</div>   