---
layout: default
page-title: SAP Enterprise Portfolio and Project Management
page-description: SAP Enterprise Portfolio and Project Management (SAP HANA PPM, CPM and PS)
canonical: https://ketch.partners/articles/sap-eppm/
robots: index,follow
rating:
og-title: SAP Enterprise Portfolio and Project Management
og-type: article
og-url: https://ketch.partners/articles/sap-eepm/
og-image: https://ketch.partners/assets/img/articles/gantt-chart-pen-800x350.jpg
og-description: SAP HANA S4 Enterprise Portfolio and Project Management client use case.
og-sitename: Ketch Partners
fb-id:
twitter-summary: SAP HANA S4 Enterprise Portfolio and Project Management client use case.
twitter-handle: ketchpartners
twitter-title: SAP Enterprise Portfolio and Project Management Client Use Case
twitter-description: SAP Hana S4 EPPM Enterprise Portfolio and Project Management client use case.
twitter-author: chris_r_york
twitter-image: https://ketch.partners/assets/img/articles/gantt-chart-pen-800x300.jpg
datePublished: 2018-12-26
dateModified: 2018-12-26
datePublishedDisplay: 26 December 2018
---

<div class="grid-container article-post-page"  id="newsletter-sticky">
<div class="grid-x grid-margin-x">
  <div class="cell large-9">

<article class="simple-article-header" itemscope itemtype="http://schema.org/Article">
  <!-- Article Published Date & Reading Time -->
    <p class="article-date-read"><time itemprop="datePublished" datetime="{{datePublished}}">{{datePublishedDisplay}}</time> - 5 min read</p>
     <meta itemprop="dateModified" content="{{dateModified}}" />
     <div class="hide" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <p itemprop="name" class="hide">Ketch Partners<p>
        <a href="{{root}}index.html" itemprop="url"><strong><img src="../assets/img/logo-top-bar.png" width="100px" alt="logo" itemprop="logo" /></strong></a>
    </div>
  <!-- Article Title -->
  <h1 class="article-title" itemprop="headline">
    <span><a href="{{canonical}}" itemprop="mainEntityOfPage">
      Collaborative Project Execution With Sap EPPM 
    </a></span>
  </h1>

  <!-- Article Author Name & Comment Hyperlink -->
  <div itemprop="author" itemscope itemtype="http://schema.org/Person">
  <p class="article-author-comments" itemprop="name">
    <em>by <a href="#about-author">Chris York</a></em> </p>
  </div>

  <!-- Article Social Links -->
<!--  <div class="article-social">
    <a href="#" class="button social facebook">
      <i class="fab fa-facebook fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social twitter">
      <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social linkedin">
      <i class="fab fa-linkedin fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social google-plus">
      <i class="fab fa-google-plus fa-lg" aria-hidden="true"></i>
    </a>
  </div>-->

  <!-- Article Image -->
  <div class="article-post-image">
    <div class="thumbnail">
      <img class="article-image" src="{{root}}assets/img/articles/gantt-chart-pen-800x350-01.jpg" alt="SAP Enterprise Poftfolio and Project Management" itemprop="image" />
    </div>
  </div>

  <!-- Article Post Content -->
  <div class="article-post-content" itemprop="articleBody">
{{#markdown}} 

## CHALLENGE - CLIENT STRUGGLED TO COLLABORATE ON CUSTOMER PROJECTS

Our Hi-tech client struggled to manage end-customer IT services projects.  Large-scale device deployments were equally as challenging. Coordinating the timing of people and materials at the client site was difficult.   Delivering the projects on time and budget was a challenge for project managers.  Additionally, they were unable to integrate new service offerings during the sales process. The goal was to enable a modern customer experience for all service offerings. They desired all products and services combined into a customer contract. During project execution clients demanded visibility and collaboration.   They wanted to improve the user experience for their professional services team.   And for customers provide a truly interactive experience.

## INSIGHT - LEVERAGING EPPM AND OPEN SOURCE

Ketch leveraged SAP EPPM(<abbr title="Enterprise Project and Portfolio Management">EPPM</abbr>) (Enterprise Project and Portfolio Management) and open source object libraries to deliver a modern user experience (UX).  We used agile methods and an iterative design process with key client business executives.   *EPPM* at its core fully supports a professional services business model. The platform provides a collaborative and intuitive system for end customers.  For project managers the solution is efficient and effective.

## SOLUTION - DIGITAL TRANSFORMATION WITH SAP EPPM

Our approach incorporated agile methods to gather requirements for each user story.  Our build process moved from low fidelity prototypes to high fidelity web apps.  The business stakeholders tested and approved the apps.  Our client had complete control of the project management business processes. We started with the opportunity to quote process.  Next, we progressed to customer project initiation and resource assignment based on skills.  Finally we addressed risk and issue management and project execution. For senior leadership we incorporated portfolio management.   The result was a modern, workflow-driven process that was flexible and intuitive for our client and their customers.

Enterprise Portfolio and Project Management (EPPM) delivered with SAP S/4HANA 1709 has three major business processes.  These are Portfolio Management, Project Management, and Resource Management.   EPPM is an evolution of previous offerings in from SAP covering projetions.  SAP delivers efficient API’s (Application Programming Interfaces).  These provide EPPM access to all associated transactional documents in the system (ie. quotes, sales orders, deliveries, invoices, etc.).  Ketch leveraged these API’s to optimize the business processes.   The key constituents requirements were incorporated in a transformed business process.  Several custom web apps enhanced the user experience and process simplification.  Additionally, Ketch leveraged the clients existing skills solution into the process.  This eliminated recreating the solution in S/4HANA.

Finally, compliant revenue recognition rules for each commercial project ensure proper financial postings. The enhanced resource management capabilities of EPPM eliminate dependence on the employee.  Previous versions required work center records in each site.  This resulted in flexible management of both employees and contract resources.


{{/markdown}}
</div>
</article>



<div class="callout about-author">
{{> about-author-york}}
</div>

<div class="callout comments">
  <div id="disqus_thread"></div>
    <script>

      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

      var disqus_config = function () {
      this.page.url = 'https://ketch.partners/articles/sap-eppm/';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '2018-12-26-02'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://ketch-partners.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
 </div>

</div>
<div class="cell large-3" data-sticky-container>

{{> newsletter-subscribe}}



</div>

</div>
</div>   