---
layout: default
page-title: SAP Configurable Subscription Contracts Drive Higher Revenue and Margin Growth
page-description: Learn how Ketch created a configurable service contract that drove greater service offer bundling and revenue increase through add on sales.
canonical: https://ketch.partners/articles/sap-ssc-solution-contracts/
robots: index,follow
rating:
og-title: SAP Configurable Subscription Contracts Drive Higher Revenue and Margin Growth
og-type: article
og-url: https://ketch.partners/articles/sap-ssc-solution-contracts/
og-image: https://ketch.partners/assets/img/articles/sap-ssc-solution-sales-contracts-800x350-01.jpg
og-description: Learn how Ketch created a configurable service contract that drove greater service offer bundling and revenue increase through add on sales.
og-sitename: Ketch Partners
fb-id:
twitter-summary:
twitter-handle:
twitter-title: SAP Configurable Subscription Contracts Drive Higher Revenue and Margin Growth
twitter-description: Learn how Ketch created a configurable service contract that drove greater service offer bundling and revenue increase through add on sales.
twitter-author: chris_r_york
twitter-image: https://ketch.partners/assets/img/articles/sap-ssc-solution-sales-contracts-300x300-01.jpg
datePublished: 2018-12-26
dateModified: 2018-12-26
datePublishedDisplay: 26 December 2018
---

<div class="grid-container article-post-page"  id="newsletter-sticky">
<div class="grid-x grid-margin-x">
  <div class="cell large-9">

<article class="simple-article-header" itemscope itemtype="http://schema.org/Article">
  <!-- Article Published Date & Reading Time -->
    <p class="article-date-read"><time itemprop="datePublished" datetime="{{datePublished}}">{{datePublishedDisplay}}</time> - 5 min read</p>
  <meta itemprop="dateModified" content="{{dateModified}}" />
  <div class="hide" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
  <p itemprop="name" class="hide">Ketch Partners<p>
  <a href="{{root}}index.html" itemprop="url"><strong><img src="../assets/img/logo-top-bar.png" width="100px" alt="logo" itemprop="logo" /></strong></a>
  </div>
  
  <!-- Article Title -->
  <h1 class="article-title" itemprop="headline">
    <a href="{{canonical}}" itemprop="mainEntityOfPage">
      Configurable Subscription Contracts Drive Market Dominance
    </a>
  </h1>

  <!-- Article Author Name & Comment Hyperlink -->
  <div itemprop="author" itemscope itemtype="http://schema.org/Person">
  <p class="article-author-comments" itemprop="name">
    <em>by <a href="#about-author">Chris York</a></em> </p>
  </div>

  <!-- Article Social Links -->
<!--  <div class="article-social">
    <a href="#" class="button social facebook">
      <i class="fab fa-facebook fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social twitter">
      <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social linkedin">
      <i class="fab fa-linkedin fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social google-plus">
      <i class="fab fa-google-plus fa-lg" aria-hidden="true"></i>
    </a>
  </div>-->

  <!-- Article Image -->
  <div class="article-post-image">
    <div class="thumbnail">
      <img class="article-image" src="{{root}}assets/img/articles/sap-ssc-solution-sales-contracts-800x350-01.jpg" alt="SAP Greenfield Implementation" itemprop="image" />
    </div>
  </div>

  <!-- Article Post Content -->
  <div class="article-post-content" itemprop="articleBody">
{{#markdown}} 

### CHALLENGES - ADAPTING TO THE CHANGING MARKETPLACE

Our client in the hi-tech IT services industry struggled to adapt to the marketplace.  They wanted to offer subscription-based services (entitlements) that aligned with their business model.  The client offered nine core service pillars each of which had numerous service offerings.  This challenge coupled with their rapid pace of acquisitions demanded a flexible solution.   Their ever-expanding service options made the sales process cumbersome. They needed easy servicing of the contracts.

### INSIGHT - BUNDLED CONTRACT DOMINATES SOLUTION

Ketch partnered with our client to define a single contract that bundled all offerings. This allowed line item control of the transaction type.  These we sale, internal lease, or external lease.  This was available for any regular product or configurable product or service.  We also solved merging quantity and value-based subscription offerings.  This single contract in SAP, minimized system transactions and simplified the billing process.  To support this contract we leveraged the SAP product, **SAP SSC** (Solution Sales Configurator) to deliver guided selling.  This supported configuring the contract terms to deliver a transformative user experience.

### SOLUTION

We focused on three major areas to deliver an optimized business process.   First was the recurring revenue contract model. We then leveraged configurable service offerings.  Finally CPQ (configurable pricing and quotation) to deliver the end user experience. We delivered a structured, configurable service.  This bundled the nine pillar services options.  It delivered a platform for offering all services through a configurable user experience. SAP provides functionality to model configurable materials. This delivers  multiple options and choices during the sales process.  This is utilized most often in a manufacturing industry. A few examples are vehicle option packages or industrial air conditioning units.  Ketch leveraged this capability for services.  We delivered a configurable service that made quoting recurring services straightforward and consistent.  Proof of concept models allowed decision makers to see the trade-offs based on each approach.  The option values get mapped to each recurring service.  This is what shows up on the quote i.e., the customer wanted backup service, for a Linux server, 500GB.

 SAP’s SSC (Solution Sales Configurator) leveraged this services to deliver guided selling.  This solution supported configuring the contract terms.  An additional challenge to overcome was margin analysis on the quote. Typically, unless services are procured at a specific cost they do not normally have a cost. Your cost is actually accrued when you deliver the service by your employee posting time.  To solve for this each service was analyzed for historical average costs.  This statistical cost allowed a margin calculation at the quote stage.
The team used an agile approach to prototype process flows and screens.  We used Axure for prototyping and business feedback.  Then transitioned to custom developed web apps to support the process.  These apps were then connected to the CRM SQL database.  Transactional data was updated before it was synchronized with *SAP HANA* S4.

Finally, the recurring revenue contract was a challenge.  The client wanted a single contract model to support any type of service.  In some cases services were quantity based (Qty of 2 ea. Backup, Linux Server, 500 GB) and in other cases, they were value-based ($10,000 of on-site support).  SAP provides different contract documents to handle value and quantity contracts.  Ketch was able to combine all offerings onto a single contract.   This made servicing and maintenance of the customer much simpler.  




{{/markdown}}
  </div>
</article>

<div class="callout about-author">
{{> about-author-york}}
</div>

<div class="callout comments">
  <div id="disqus_thread"></div>
    <script>

      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

      var disqus_config = function () {
      this.page.url = 'https://openketch1.firebaseapp.com/articles/sap-ssc-solution-sales-contracts';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '2018-12-26-06'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://ketch-partners.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
 </div>

  </div>
  <div class="cell large-3" data-sticky-container>
{{> newsletter-subscribe}}



  </div>

</div>
</div>   