---
layout: default
page-title: SAP HANA S4 Results in Increased Revenue Growth and Competitive Margins
page-description: Ketch Partner's client needed flexibility to add new business models to the sales process and chose Ketch to deliver. The result was increased contract margins which drove healthier bottom line revenue
canonical: https://ketch.partners/articles/sap-hana-s4-client-case-study-article/
robots: index,follow
rating:
og-title: SAP HANA S4 Results in Increased Revenue Growth and Competitive Margins
og-type: article
og-url: https://ketch.partners/articles/sap-hana-s4-client-case-study-article/
og-image: https://ketch.partners/assets/img/articles/sap-hana-s4-case-study-800x350.jpg
og-description: Ketch Partner's client needed flexibility to add new business models to the sales process and chose Ketch to deliver. The result was increased contract margins which drove healthier bottom line revenue
og-sitename: Ketch Partners
fb-id:
twitter-summary: Ketch leveraged SAP functionality, commonly applied in the manufacturing industry (think of automobile options/appointment packages, HVAC systems, or specialized industrial pumps) to the customer’s services offerings.
twitter-handle:
twitter-title: SAP HANA S4 Results in Increased Revenue Growth and Competitive Margins
twitter-description: Ketch Partner's client needed flexibility to add new business models to the sales process and chose Ketch to deliver. The result was increased contract margins which drove healthier bottom line revenue
twitter-author: chris_r_york
twitter-image: https://ketch.partners/assets/img/articles/sap-hana-s4-case-study-300x300.jpg
datePublished: 2018-12-26
dateModified: 2018-12-26
datePublishedDisplay: 26 December 2018
---

<div class="grid-container article-post-page"  id="newsletter-sticky">
<div class="grid-x grid-margin-x">
  <div class="cell large-9">

<article class="simple-article-header" itemscope itemtype="http://schema.org/Article">
  <!-- Article Published Date & Reading Time -->
    <p class="article-date-read"><time itemprop="datePublished" datetime="{{datePublished}}">{{datePublishedDisplay}}</time> - 5 min read</p>
  <meta itemprop="dateModified" content="{{dateModified}}" />
  <div class="hide" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
  <p itemprop="name" class="hide">Ketch Partners<p>
  <a href="{{root}}index.html" itemprop="url"><strong><img src="../assets/img/logo-top-bar.png" width="100px" alt="logo" itemprop="logo" /></strong></a>
  </div>
  
  <!-- Article Title -->
  <h1 class="article-title" itemprop="headline">
    <a href="{{canonical}}" itemprop="mainEntityOfPage">
      SAP HANA S4 Delivers Increased Revenue and Margin Growth
    </a>
  </h1>

  <!-- Article Author Name & Comment Hyperlink -->
  <div itemprop="author" itemscope itemtype="http://schema.org/Person">
  <p class="article-author-comments" itemprop="name">
    <em>by <a href="#about-author">Chris York</a></em> </p>
  </div>

  <!-- Article Social Links -->
<!--  <div class="article-social">
    <a href="#" class="button social facebook">
      <i class="fab fa-facebook fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social twitter">
      <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social linkedin">
      <i class="fab fa-linkedin fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social google-plus">
      <i class="fab fa-google-plus fa-lg" aria-hidden="true"></i>
    </a>
  </div>-->

  <!-- Article Image -->
  <div class="article-post-image">
    <div class="thumbnail">
      <img class="article-image" src="{{root}}assets/img/articles/sap-hana-s4-case-study-800x350.jpg" alt="SAP HANA Revenue and Margin Growth" itemprop="image" />
    </div>
  </div>

  <!-- Article Post Content -->
  <div class="article-post-content" itemprop="articleBody">
{{#markdown}} 

### Long Standing Business Running SAP ECC Challenges

Our client in the hi-tech IT services industry was struggling to grow with their 17-year-old SAP ECC system. It would not support the vision for their business.  Senior leadership recognized the need to adapt their customer offerings. Their goal was to support a recurring revenue, subscription-based offering.  Traditionally, their services business revolved around supporting their technology-based devices.  They offered clients remote monitoring and remote and onsite repair services.  Through a series of acquisitions, our client was moving into the managed IT services sector. This required the flexibility to bundle service offerings. They wanted to sell professional services alongside software and physical devices. Their highly customized ECC system was incapable of supporting this model.  Without solving this problem, they would be constrained in what offerings they could bring to the market. Their ability to integrate acquisitions would be limited.

### Ketch Partners Assists Business To Gain Insight

Ketch partnered with our client in three major areas to deliver an optimized business process:

1.  Configurable service:  we delivered a structured, configurable service. This bundled the nine current pillar services.  Using options delivered a platform for offering all services.
2.  CPQ (configurable pricing and quotation): SAP’s SSC (Solution Sales Configurator) delivered guided selling along with configuring the contract terms.
3.  A recurring revenue contract model: finally, we defined a contract document in SAP.  This this allowed variable quantity, value-based recurring revenue services.  We bundled professional services projects, along with software and technology.  This created  sales flexibility and agility.

### Solution Leveraging SAP HANA S4 New Business Models

Ketch leveraged SAP functionality, commonly applied in the manufacturing industry.  Think of automobile appointment packages, HVAC systems, or specialized industrial pumps. We applied this to our customer’s services offerings. SAP Variant Configuration functionality allows modeling options and choices. These are then selected during the sales process. We delivered a configurable service that made quoting recurring services straightforward and consistent.  Due to the ongoing business transformation, the business leads took months to define how they wanted to go to market. Creating this configurable service was a significant effort.  Proof of concept services models allowed decision makers to see the trade-offs based on each approach.  Once defined, the options are mapped to the recurring service “entitlement”. This is what appears on the quote, e.g., if the customer wanted backup service, for a Linux server, 500GB.

Ketch utilized the structure of the SAP Quote document to easily bundle offerings.  We mixed materials, services, software and projects all within the same document.  We gave the salesperson the flexibility at the line item to choose transaction type.  These were outright sale, internal lease, or external lease.  The could optimize margin and adjust pricing easily.  This also improved both Customer and Employee Experience.

We then leveraged SAP Solution Sales Configurator to create a custom user experience.  We delivered guided selling in an easy to understand the solution.  The team used an agile approach to prototype process flows.  We developed screens in Axure for use feedback.  We then transitioned to custom developed web apps to support the process.  These apps were then connected to the CRM SQL database. The data was stored before it was synchronized with S/4HANA.

The recurring revenue contract was a challenge because the client wanted a single contract model.  Both quantity and value offering we required – in some cases services were quantity based (Qty of 2 ea. Backup, Linux Server, 500 GB) and in other cases, they were value-based ($10,000 of on-site support).  SAP provides different contract documents to handle value and quantity contracts.  Ketch was able to combine all offerings onto a single contract.  This made servicing and maintenance of the customer much simpler over the lifecycle of the contract term.

### Solution Delivers Competitive Edge, Increasing Revenue and Margins

This innovative solution has resulted in our client leaping ahead of their competition. Ketch and the client team collaborated to deliver success.  They have been able to drive significant margin gains by bundling offerings.  Mixing sale, lease and recurring revenue components in the same offering has simplified the sales process.  Additionally, contracts are now managed by their customers. They have capabilities to add on or remove any part of their service coverage.  These changes are reflected in the next month’s invoice. Customer experience has dramatically improved.




{{/markdown}}
  </div>
</article>

<div class="callout about-author">
{{> about-author-york}}
</div>

<div class="callout comments">
  <div id="disqus_thread"></div>
    <script>

      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

      var disqus_config = function () {
      this.page.url = 'https://openketch1.firebaseapp.com/articles/sap-hana-s4-client-case-study-article/';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '2018-12-26-05'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://ketch-partners.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
 </div>
  </div>
  <div class="cell large-3" data-sticky-container>

{{> newsletter-subscribe}}



  </div>

</div>
</div>   