---
layout: default
page-title: SAP HANA Central Finance Streamlines Companies for Growth and Acquisitions
page-description: How can you leverage your investment capacity and proprietary processes in your current Enterprise Resource Planning ERP system to capture new market opportunities without a significant investment
canonical: https://ketch.partners/articles/sap-central-finance/
robots: index,follow
rating:
og-title: SAP HANA Central Finance Streamlines Companies for Growth and Acquisitions
og-type: article
og-url: https://ketch.partners/articles/sap-central-finance/
og-image: https://ketch.partners/assets/img/articles/gantt-chart-pen-800x350-01.jpg
og-description: How can you leverage your investment capacity and proprietary processes in your current Enterprise Resource Planning (ERP) system to capture new market opportunities without a significant investment
og-sitename: Ketch Partners
fb-id:
twitter-summary: Implementing SAP Central Finance Bridging SAP HANA and SAP ECC
twitter-handle: ketchpartners
twitter-title: SAP HANA Central Finance Streamlines Companies for Growth and Acquisitions
twitter-description: How can you leverage your investment capacity and proprietary processes in your current Enterprise Resource Planning ERP system to capture new market opportunities without a significant investment
twitter-author: chris_r_york
twitter-image: https://ketch.partners/assets/img/articles/CFIN-stage-hero-300x300.jpg
datePublished: 2018-12-26
dateModified: 2018-12-26
datePublishedDisplay: 26 December 2018
---

<div class="grid-container article-post-page"  id="newsletter-sticky">
<div class="grid-x grid-margin-x">
  <div class="cell large-9">

<article class="simple-article-header" itemscope itemtype="http://schema.org/Article">
  <!-- Article Published Date & Reading Time -->

    <p class="article-date-read"><time itemprop="datePublished" datetime="{{datePublished}}">{{datePublishedDisplay}}</time> - 5 min read</p>
  <meta itemprop="dateModified" content="{{dateModified}}" />
  <div class="hide" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
  <p itemprop="name" class="hide">Ketch Partners<p>
  <a href="{{root}}index.html" itemprop="url"><strong><img src="../assets/img/logo-top-bar.png" width="100px" alt="logo" itemprop="logo" /></strong></a>
  </div>
  <!-- Article Title -->
  <h1 class="article-title" itemprop="headline">
    <span><a href="{{canonical}}" itemprop="mainEntityOfPage">
      SAP Central Finance Streamlines Companies for Growth and Acquisitions
    </a></span>
  </h1>

  <!-- Article Author Name & Comment Hyperlink -->
  <div itemprop="author" itemscope itemtype="http://schema.org/Person">
  <p class="article-author-comments" itemprop="name">
    <em>by <a href="#about-author">Chris York</a></em> </p>
  </div>

  <!-- Article Social Links -->
<!--  <div class="article-social">
    <a href="#" class="button social facebook">
      <i class="fab fa-facebook fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social twitter">
      <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social linkedin">
      <i class="fab fa-linkedin fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social google-plus">
      <i class="fab fa-google-plus fa-lg" aria-hidden="true"></i>
    </a>
  </div>-->

  <!-- Article Image -->
  <div class="article-post-image">
    <div class="thumbnail">
      <img class="article-image" src="{{root}}assets/img/articles/CFIN-stage-hero-800x350.jpg" alt="SAP Central Finance" itemprop="image" />
    </div>
  </div>

  <!-- Article Post Content -->
  <div class="article-post-content" itemprop="articleBody">
{{#markdown}} 
## Inflexible legacy systems limit your ability to capture new business

You have significant investment in your current systems and processes.  You see opportunity to capture new market opportunities.  Financial performance and capital investments are at odds with each other. There is a solution to leverage your existing investment and capture new opportunities.  SAP Central Finance allows your existing system to feed financials into *SAP HANA*.

Existing systems don't offer the agility and flexibility to pursue new business models. The result is a poor business case to invest in a new system. Pragmatic, evidence-seeking C-level executives expect solid return on investment.  Performance improvements or wholesale replacement of your ERP often cannot be justified. Companies that have complex, heavily-customized systems cannot consider greenfield implementations.

In today’s global market multi-national companies have significant ERP investments.  These systems have customized business processes and many currencies.  Wholesale switch to *SAP HANA* is a daunting consideration.  It is not easy to quickly migrate to **SAP HANA**.  We also encounter companies that are in a hyper-growth mode.   Averaging 1-2 acquisitions per year,  they struggle to integrate the new companies.  The acquired company has new products and services that don't fit the current business model.  They also have existing customers who don't like disruption.  This puts undue burden on the finance team to close the books each month.  This creates a flurry of spreadsheets and journal entries each month.  Our experience is most companies are a hybrid of these examples. Using SAP Central Finance gives you many options for managing acquisitions.

## SOLUTION

### Transform your business into an agile, scalable enterprise using SAP HANA and Central Finance

Ketch and SAP have developed a roadmap for your company.  This will help you move beyond your current complex environment.  This roadmap allows you to continue to leverage your investment in technology.  You can maintain current processes and move toward *SAP HANA*. The SAP HANA ERP platform is a market leader for cutting-edge technology.  The software has best business practice “baked in” to the software.  Many know that Simple Finance was overhauled.   The result was *SAP HANA* has integrated standard finance functions with profitability analysis.  Combined with a new Fiori UX (user experience) has given SAP a strong position in the market. With *SAP HANA*, you are equipped to add new business models. With Central Finance you have more agility and reach into new markets.

Ketch has established a solid roadmap for migration to a  transformed business. This leverages SAP HANA, BPC (<abbr title="SAP Business Planning and Consolidation">BPC</abbr>), and a recent addition  called Central Finance. This approach yields a platform for growth and flexibility.  It provides the ability to reach into new markets and streamline your business.   A few of the relevant features of Central Finance and SAP HANA are:
- Harmonized enterprise structure – Chart of Accounts, Cost Centers, Profit Centers, and Segment
- Leverage account-based Profitability Analysis, Simple Finance, and Fiori to drive transformation
- Centralized and unified reporting
- True financial documents replicated from the source system into S/4HANA®
- Streamlined integration of future acquisitions
- Drill back from Central Finance® to the source document
- Reduced time for month end close

The roadmap designed by Ketch starts with SAP HANA (Finance only) and BPC (note that this model shows a traditional BW/BPC approach. Based on your organization’s individual situation this approach can incorporate IBP (Integrated Business Planning). The next step is to install SLT and Central Finance.  Finally the result is a new enterprise structure for growth running SAP HANA S4 at its core.

### Stages to transformation

We begin with the Transformation Road Map.  Next we build the project plan and budget with client leadership.  Ketch acts as an integral part of your team every step of the way.  We adjust uur roadmap and timeline to meet your needs.

<img src="{{root}}assets/img/articles/CFIN-stage-1.svg" data-inline-svg />



During the first stage we install a fully functional *SAP HANA* system.  We then implement BPC for consolidations. Next we conduct a BPA (Best Practice Alignment) phase to validate future state financial processes.   We demonstrate standard processes delivered in *SAP HANA*.  This allows financials  from disparate systems to be consolidated for reporting purposes.  Stage 1 also includes a streamlined enterprise structure. In *SAP HANA* the enterprise structure includes (general ledger, profit and cost centers, sales, manufacturing, and procurement).  *SAP HANA* leverages Simple Finance and the Fiori UX to transform the finance functions.   The lays the groundwork for future transformations.

<img src="{{root}}assets/img/articles/CFIN-stage-2.svg" data-inline-svg />

Stage 2 starts with Central Finance; we connect each external ERP via RFC (Remote Function Call).  This results in real-time flow of finance transactions into *SAP HANA*.  As external system transactions occur the financial posting is replicated into *SAP HANA*.  Thus profit and loss reporting across the enterprise is real-time.  During Stage 2 we determine how each company will be integrated.  Some will simply upload transactions manually to BPC consolidations.  Others will be integrated via Central Finance.  This approach allows an acquired company to be quickly integrated.  Financial reporting is through BPC Consolidations.  This gives you flexibility to plan their integration via Central Finance on your timeline.

A few key considerations for Central Finance that Ketch has learned from our recent projects
- Complex mappings of transformed organizational structure elements using SLT is challenging
- Cost object mapping and configuration
- Derivation rules allowing SAP HANA S4 Profitability Analysis to be fully utilized

In parallel to Stage 2, we run another short and concentrated BPA phase to validate the future state business processes leveraging best practices (Quote to Cash, Plan to Manufacture, etc.).  This process allows us to align each divisions business model to a common template.  Then we update the roadmap to integrate results of the BPA. We then adjust the timeline for deployment of SAP HANA S4 functionality.
<img src="{{root}}assets/img/articles/CFIN-stage-3.svg" data-inline-svg />

In the Stage 3 we full integrate *SAP HANA* S4 across all business processes.   BPC is implemented to include planning functions. With the enterprise structure in place;  this stage will be implementing core business processes.   These include Quote to Cash, Hire to Retire, Plan to Manufacture and other core ERP processes. As we deploy each company we utilize our Best Practice Alignment to validate alignment to the template design. We then convert them into *SAP HANA*. This Stage of the roadmap typically takes the longest.   Depending on the approach we use for deploying the new solution we adjust the timeline.  The focus is on aligning and integrating each business unit.

<div class="callout primary">
     <h4>Consolidations quickly brings acquistions into SAP HANA S4 Financials</h4>
</div>

<div class="callout secondary">
     <h4>SAP Central Finance Allows Flexbility For Timing of ERP Integrations</h4>
</div>


Ketch’s BPA (Best Practice Alignment) is a component of Ketch’s Building Block Methods.   This is a rapid deployment approach for business transformations.  The BPA starts with understanding enough about the key business processes to model the best practice approach in SAP HANA S4.  At the same time, the infrastructure team deploys an SAP system and sets up access for the project team.  Once business processes are understood Ketch will stand up a "live SAP HANA" system with your data.  Then we walk your business subject matter experts through the entire system.  Process area, by process area we gain alignment by asking “why won’t this work for you?”

The first Phase will be to design the future state Enterprise Structure.  This includes (company codes, plants, profit centers, cost centers, Segments, and sales offices).  At the same time, we implement Consolidations in BPC.  We define standard input model for each subsidiary.   They simply drop the completed template into BPC and the result is consolidated financial reporting.

In parallel, we stand up SAP SLT (SAP Landscape Transformation) Server.  This is the mapping and data transfer toolset utilized for Central Finance.

Ketch will leverage our cutting-edge _**Building Block Methodology**_ and our SAAS toolset.   This provides real-time visibility to the project plan, business process scope, deliverables, financials and much more.  Our tools allow you to ask any of the following questions:

- “What is Alex working on this week?” Simply look in my team planning section.
- “What is our burn down rate for the project?” Just click the link for PROJECT FINANCIALS.
- “How many deliverables are not approved for this milestone?”  Click over to the Building Block Library.

Key Decisions – Check; Risks and Issues – check…everything needed to run and manage a large-scale transformation project is available.

<div class="callout primary">
<p>For a project that includes SAP ECC, there will be some OSS-Notes and configuration in ECC required.  This is for Central Finance as well as the configuration in SAP HANA S4 and SLT.  A curious challenge for ECC running on Microsoft SQL Server is the SLT treats ECC as a “non-SAP” system.  This requires a different approach to implementation. As of the writing of this paper, SAP Central Finance is still resolving some technical challenges.  We recommend an experienced team to mitigate risk and cost.  SAP Central Finance will allow any financial system to be easily integrated.   The result in *SAP HANA* is consolidated financials regardless of the business structure of that external company.</p>
</div>


The approach shown in the paper is flexible to align with your situation, budget, timeline, and scope.  Ketch has over 25 years’ experience in integrating SAP solutions in a variety of industries.  During our initial planning sessions, we will define the approach that works for your situation and will result in a transformation roadmap.




{{/markdown}}
  </div>
</article>



<div class="callout about-author" id="about-author">
{{> about-author-york}}
</div>

<div class="callout comments">
  <div id="disqus_thread"></div>
    <script>

      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

      var disqus_config = function () {
      this.page.url = 'https://ketch.partners/articles/sap-central-finance/';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '2018-12-26-01'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://ketch-partners.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
 </div>

  </div>
  <div class="cell large-3" data-sticky-container>

{{> newsletter-subscribe}}



  </div>

</div>
</div>   