<aside class="sticky" data-sticky data-anchor="newsletter-sticky">
<div class="grid-container" id="guide-download-wrapper">
  <h3 class="text-center" id="guide-download-header">Free Guide of SAP Implementations</h3>
  <img src="{{root}}assets/img/ketch-client-case-studies-download.jpg" alt="Ketch SAP Implementation Guide" />
  <div class="callout" id="guide-download-container">
    <form class="form-registration-group" action="" id="subscribeForm">
    <input class="form-registration-input" type="email" placeholder="Your email" required id="subscribeEmail">
    <input class="form-registration-submit-button" type="submit" value="Download" id="subscribeSubmit">

  </form>
  </div>
</div>
</aside>


