<aside class="grid-container" id="newsletter-wrapper">
  <h3 class="text-center" id="newsletter-header">Newsletter</h3>
  <div class="callout" id="newsletter-container">
    <form class="form-registration-group" action="" id="newsletterForm">
    <input class="form-registration-input" type="email" placeholder="Your email" required id="newsletterSubscribeEmail">
    <input class="form-registration-submit-button" type="submit" value="Subscribe" id="newsletterSubscribeSubmit">


  </form>
  </div>
</aside>